* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-family: "SF_Pro_Display_Regular", sans-serif;
  font-size: 16px;
  color: #1d1d1f;
}

.body {
  /* min-height: 100%; */
  margin: 0;
}

.menu-wr {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 1200px;
  height: 52px;
  background-color: rgba(255, 255, 255, 0.35);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 1000;
}

.menu {
  font-family: "SF_Pro_Display_Semibold", sans-serif;
  font-size: 21px;
  margin-left: 40px;
  cursor: pointer;
}

header {
  height: 100vh;
  /* background: url('../img/banner-m.jpg') no-repeat top center;  
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;   */
}

.bg-wr {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  /* height: 100vh; */
  z-index: -100;
  justify-content: center;
}

.bg-wr img {
  position: absolute;
  width: 100%;          /* 추가: width를 100%로 강제 */
  height: 100vh;
  object-fit: cover;
  object-position: center center;  /* 추가: 중앙 정렬로 통일 (필요시 top, bottom 등 조정 가능) */
  left: 0;              /* 추가: left 0으로 고정 */
  top: 0;               /* 추가 */
}

.main-img-partial-bw {
  z-index: -100;
  opacity: 0;
  filter: grayscale(100%);  /* 첨부 첫 번째 사진을 bw처럼 보이게 필터 적용 (원본이 컬러이므로) */
}

.main-img-partial-col {
  z-index: -90;
  opacity: 0;
  filter: brightness(0.8);  /* partial 컬러로 약간 어둡게, transition 부드럽게 */
}

.main-img-full {
  z-index: -80;
  opacity: 0;
}

main {
  position: relative;
  margin: 0;
  /* top: 100vh; */
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: #fff;
}

.footer{
  padding: 32px 0;
  text-align: center 
}

.color-trans-white {
  color: #fff !important;
  transition: color 0.7s ease;
}

.color-trans-white {
  color: #fff !important;
  transition: color 0.7s ease-in;
}

.bw-opacity-trans {
  opacity: 1;
  transition: opacity 2s ease-in;  /* transition 시간 늘려 부드럽게 (원본 1.5s -> 2s) */
}

.col-opacity-trans {
  opacity: 1;
  transition: opacity 1s ease-out;  /* transition 조정 */
}

.full-opacity-trans {
  opacity: 1;
  transition: opacity 2s ease-in;  /* transition 조정 */
}

.link-details-wr {
  display: flex;
  justify-content: center;
  margin-top: -58px;
  margin-left: 60%;
  opacity: 0;
}

.link-details {
  width: 150px;
  line-height: 100px;
  font-family: "SF_Pro_Display_Regular", sans-serif;
  color: #fff;
  /* background: radial-gradient(circle, rgba(0, 0, 0, 0.3) 0%, transparent 60%); */
  font-size: 21px;
  cursor: pointer;
}

.link-button {
  background-color: transparent;
}


/* Tablet, <900px */
@media only screen and (max-width: 900px) {
  
}  

/* Mobile, <540px */
@media only screen and (max-width: 540px) {
  .menu {
    font-size: 16px;
    margin-left: 24px;
    cursor: pointer;
  }

  .link-details-wr {
    justify-content: center;
    margin-top: 32px;
    margin-left: 0;
  }
  
  

}  